* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #86A3B8;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 10rem;
  flex-wrap: wrap;
  padding: 3rem 0 3rem 0;
}